body {
    width: 1920px;
    background-color: #171717;
}

.container {
    width: 1460px;
    margin: 0 auto;
}

.heating-network {
    margin-top: 46px;
    margin-bottom: 161px;
}

.firm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.firm .firm-logo {
    display: block;
}

.firm .firm-contakt {
    display: block;
    text-decoration: none;
    font-family: Circe;
    font-size: 18px;
    font-weight: 400;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 11px 11px 11px 25px;
    margin-bottom: 29px;
}

.firm .firm-contakt img {
    margin-right: 8px;
}

h2 {
    font-family: Gilam;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.description-heating-network {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #fff;
    padding: 0 508px 0 0;
    margin: 41px 0;
}

.heating-network-list {
    display: grid;
    height: 964px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 27px;
    margin-bottom: 161px;
}

.heating-network-list li {
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #fff;
}

.heating-network-list .heating-network-item1 {
    grid-column-end: span 2;
    background-color: #634F2C;
    padding: 220px 160px;
}

.heating-network-list .heating-network-item2 {
    grid-column-end: span 2;
    background-color: #B4A385;
    padding: 206px 43px;
}

.heating-network-list .heating-network-item3 {
    grid-column-end: span 2;
    background-color: #E4B564;
    padding: 220px 131px;
}

.heating-network-list .heating-network-item4 {
    grid-column-end: span 3;
    background-color: #635A4A;
    padding: 220px 144px;
}
.heating-network-list .heating-network-item5 {
    grid-column-end: span 3;
    background-color: #B08C4D;
    padding: 220px 250px;
}

.construction-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 900px;
    gap: 30px;
    margin-top: 94px;
    margin-bottom: 192px;
}

.construction-list li {
    color: #fff;
    font-family: Gilam;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    padding: 54px 0 0 40px;
}

.construction-list li span {
    font-weight: 700;
}

.construction-list .construction-list-item1 {
    grid-row-end: span 4;
    background-color: #0E0E0E;
    font-weight: 400;
}

.construction-list .construction-list-item2 {
    grid-row-end: span 5;
    background-color: #242424;
    font-weight: 400;
}

.construction-list .construction-list-item3 {
    grid-row-end: span 3;
    background-color: #1F1F1F;
}

.construction-list .construction-list-item4 {
    grid-row-end: span 3;
    background-color: #0E0E0E;
}

.construction-list .construction-list-item5 {
    grid-row-start: 5;
    grid-row-end: -1;
    background-color: #1F1F1F;
}

.construction-list .construction-list-item6 {
    grid-row-end: span 4;
    background-color: #E4B564;
    margin-bottom: 20px;
    color: #000;
}

.construction-list .construction-list-item7 {
    grid-row-end: span 3;
    background-color: #0A0909;
    font-weight: 700;
}

.customers {
    background-color: #0e0e0e;
    width: 1460px;
    padding: 0 230px;
    margin-bottom: 238px;
}

.customers .title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 172px;
    padding-bottom: 61px;
}

.customers .title-customers {
    display: inline-block;
    font-family: Gilam;
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
}

.customers .all-projects {
    color: #E4B564;
    padding: 10px 40px;
    text-decoration: none;
    font-family: Circe;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    border: 1px solid #E4B564;
}

.customers .customers-list {
    display: grid;
    grid-template-rows: 391px 391px;
    grid-template-columns: repeat(3, 487px);
}

.customers-list .customers-item1 {
    background-color: #634F2C;
    padding: 171px 151px;
}

.customers-list .customers-item2 {
    background-color: #E8D2ABC2;
    padding: 61px 80px 26px 80px;
    text-align: center;
}

.customers-list .customers-item3 {
    padding: 174px 149px;
    background-color: #E4B564;
}

.customers-list .customers-item4 {
    padding: 174px 149px;
    background-color: #635A4A;
}

.customers-list .customers-item5 {
    padding: 169px 183px;
    background-color: #B08C4D;
}

.customers-list .customers-item6 {
    padding: 171px 151px;
    background-color: #634F2C;
}

.customers-list .customers-items-logo {
    display: block;
    margin: 0 auto;
}

.customers-list .customers-item-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    padding-top: 9px;
    padding-bottom: 12px;
}



